<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977938980208-r47ka72gdut9lo9fk1vumom0qquc41e8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977938980208-r47ka72gdut9lo9fk1vumom0qquc41e8</string>
	<key>API_KEY</key>
	<string>AIzaSyAVkvMshTjNDz7aragjb2qnIz49hLnEq4o</string>
	<key>GCM_SENDER_ID</key>
	<string>977938980208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>burnprediction.burn</string>
	<key>PROJECT_ID</key>
	<string>burnprediction-3d0b9</string>
	<key>STORAGE_BUCKET</key>
	<string>burnprediction-3d0b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977938980208:ios:0579a6f5370bf8592403b5</string>
</dict>
</plist>